.App {
  font-family: sans-serif;
  text-align: center;
}

.flexBox {
  display: flex;
  border: 1px solid red;
  min-height: 24em;
}

.flexItem {
  flex-direction: horizontal;
  border: 1px solid yellow;
}

.details {
  flex-direction: vertical;
  border: 1px solid green;
  min-height: 1em;
}

.detail {
  flex-direction: vertical;
  border: 1px solid green;
  min-height: 2em;
}
